{% extends 'website/header.html' %}

{% block title %} Team Captain {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Welcome Team Captain!</p>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-team' %}">Create Team</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-roster' %}">Create Roster</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-event' %}">Create Event</a>
</div>
{% endblock %}