{% extends 'website/header.html' %}

{% block title %} Create Roster {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Add Player to Roster</p>
    <form action="/captain/create-roster/submit/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="first_name" placeholder="First Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="last_name" placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="tel" class="form-control form-control-sm" id="phone_number" placeholder="Phone">
            </div>
        </div>    
        <button type="submit" class="btn btn-primary btn-sm">Add Player</button>
    </form>
</div>
{% endblock %}