{% extends 'website/header.html' %}

{% block title %} Create Team {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <h2>Create Team</h2>
    <div style="padding-top: 10px"></div>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">Create Team</button>
    </form>
</div>
{% endblock %}