{% extends 'website/header.html' %}

{% block title %} Create Team {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Create Team</p>
    <form action="/captain/create-team/submit/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="team_name" placeholder="Team Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="sport" placeholder="Sport" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="state" placeholder="State" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="name" class="form-control form-control-sm" id="city" placeholder="City" required>
            </div>
        </div>    
        <button type="submit" class="btn btn-primary btn-sm">Create Team</button>
    </form>
</div>
{% endblock %}