{% extends 'website/header.html' %}

{% block title %} Edit Event {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <h2>Edit Event</h2>
    <div style="padding-top: 10px"></div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p><strong>{{ error|escape }}</strong></p>>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p><strong>{{ error|escape }}</strong></p>>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </form>
</div>
{% endblock %}