{% extends 'website/header.html' %}

{% block title %} Edit Announcement {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <div class="text-left">
            <h6><a href="{% url 'website:team-profile' post.team.id %}" style="color: #000000; text-decoration: none">{{ post.team.team_name }}</a>
                > 
            <a href="{% url 'website:team-announcement' post.team.id %}" style="color: #000000; text-decoration: none">Announcements</a>
                > Edit</h6>
    </div><br>
    <h2>Edit Post</h2>
    <div style="padding-top: 10px"></div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p><strong>{{ error|escape }}</strong></p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p><strong>{{ error|escape }}</strong></p>
        {% endfor %}
    {% endif %}
    <div class="container text-center" style="width: 30%">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="col-sm">
                        <!-- {{ field.label_tag }} -->
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </form>
    </div>
</div>
{% endblock %}