{% extends 'website/header.html' %}

{% block title %} Event Details {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <h2>Event Details</h2>
    <div style="padding-top: 10px"></div>
    {{ event }} <br>
    {{ event.date }} <br>
    {{ event.time }} <br>
    {{ event.location }} <br>

    <div style="padding-top: 100px"></div>
    
    <a class="btn btn-primary btn-sm" href="{% url 'website:edit-event' event.team.id event.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Event</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:delete-event' event.team.id event.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
</div>
{% endblock %}