{% extends 'website/header.html' %}

{% block title %} Log In {% endblock %}

{% block body %}
<div class="container text-center">
    <p>Login To Account</p>
    <form class="login-form">
        <div class="form-group">
            <div class="col-sm">
                <input type="email" class="form-control form-control-sm" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <input type="password" class="form-control form-control-sm" placeholder="Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
</div>
{% endblock %}