{% extends 'website/header.html' %}

{% block title %} Player Profile {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <!-- <p>Player Profile</p> -->
    <img src="{{ player.avatar.url }}" width=200 height=200 style="padding: 5px" /><br>
    <div style="padding-top: 5px"></div>

    <h3>{{ player }}</h3>
    {% if player.number %}
        <h5>#{{ player.number }}</h5>
    {% endif %}
    
    {% if player.email %}
        {{ player.email }} <br>
    {% endif %}
    {% if player.phone_number %}
        {{ player.phone_number }} <br>
    {% endif %}
    {% if player.address %}
        {{ player.address }} <br>
    {% endif %}
    {% if player.uin %}
        {{ player.uin }} <br>
    {% endif %}
    {% if player.usau_id %}
        {{ player.usau_id }} <br>
    {% endif %}

    <div style="padding-top: 100px"></div>

    <a class="btn btn-primary btn-sm" href="{% url 'website:upload-player-avatar' player.team.id player.id %}"><i class="fa fa-upload" aria-hidden="true"></i> Upload Avatar</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:edit-player' player.team.id player.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:delete-player' player.team.id player.id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
</div>
{% endblock %}