{% extends 'website/header.html' %}

{% block title %} Player Profile {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Player Profile</p>
    <img src="{{ player.avatar.url }}" width=200 height=200 style="padding: 5px" /><br>
    {{ player }} <br>
    {% if player.number %}
        #{{ player.number }} <br>
    {% endif %}
    {% if player.email %}
        {{ player.email }} <br>
    {% endif %}
    {% if player.phone_number %}
        {{ player.phone_number }} <br>
    {% endif %}
    {% if player.address %}
        {{ player.address }} <br>
    {% endif %}
    {% if player.uin %}
        {{ player.uin }} <br>
    {% endif %}
    {% if player.usau_id %}
        {{ player.usau_id }} <br>
    {% endif %}
</div>
{% endblock %}