{% extends 'website/header.html' %}

{% block title %} Team Events {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <h2>Team Events</h2>
    <div style="padding-top: 10px"></div>
    {% for event in events %}
        {{ event.date }}<br>
        <a href="/player/teams/{{ event.team.id }}/events/{{ event.id }}">{{ event.event_name }}</a><br><br>
        <div style="padding-top: 5px"></div>
    {% endfor %}
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-event' team.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Event</a>
</div>
{% endblock %}