{% extends 'website/header.html' %}

{% block title %} Announcements {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <div class="text-left">
        <h6><a href="{% url 'website:team-profile' team.id %}" style="color: #000000; text-decoration: none">{{ team.team_name }}</a>
             > 
            <a href="{% url 'website:team-announcement' team.id %}" style="color: #000000; text-decoration: none">Announcements</a></h6>
    </div><br>
    <h2>Announcements</h2>
    <div style="padding-top: 10px">
        {% for post in posts %}
        <div class='col-md-10 jumbotron text-left' style="display: inline-block; padding: 10px 10px 10px 10px">
            <h4>{{ post.title }}</h4>
            <h6>{{ post.post_date }}</h6>
            <div class="text-left" style="padding-top: 10px">{{ post.post|linebreaks }}</div>
            {% for c in captains %}
                {% if c.user == user %}
                    <a class="btn btn-primary btn-sm" href="{% url 'website:edit-announcement' team.id post.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Post</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'website:delete-announcement' team.id post.id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Post</a><br>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <br>
    {% for c in captains %}
        {% if c.user == user %}
            <a class="btn btn-primary btn-sm" href="{% url 'website:create-announcement' team.id %}"><i class="fa fa-pencil" aria-hidden="true"></i> New Post</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}