{% extends 'website/header.html' %}

{% block title %} Team Profile {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Team Profile</p>
    <img src="{{ team.avatar.url }}" width=200 height=200 style="padding: 5px"/><br>
    {{ team }} <br>
    {{ team.city }}, {{ team.state }} <br><br>

    <a class="btn btn-primary btn-sm" href="{% url 'website:team-roster' team.id %}">Roster</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:team-events' team.id %}">Events</a>
</div>
{% endblock %}