{% extends 'website/header.html' %}

{% block title %} Team Roster {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Team Roster</p>
    <div class="container" style="padding: 0px">
        <div class="row" style="height: 275px; width: 690px; margin-left: auto; margin-right: auto">
            {% load tags %}
            {% for player in roster %}
                <div class="col">
                    <a href="/player/teams/{{ player.team.id }}/roster/{{ player.id }}"><img src="{{ player.avatar.url }}" width=200 height=200 style="padding: 5px" /></a><br>
                    #{{ player.number }} {{ player.first_name }} {{ player.last_name }}
                    <div style="padding-top: 5px"></div>
                    <form action="{% url 'website:delete-player' player.team.id player.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="player_id" value="{{ player.id }}" />
                        <button type="submit" class="btn btn-outline-primary btn-sm" style="border-radius: 15px">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                    </div>
                    <div class="row" style="height: 275px; width: 690px; margin-left: auto; margin-right: auto">
                {% endif %}
                {% if forloop.counter|modulo:3 == 1 and forloop.last %}
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                {% endif %}
                {% if forloop.counter|modulo:3 == 2 and forloop.last %}
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-roster' %}">Add Player</a>
</div>
{% endblock %}