{% extends 'website/header.html' %}

{% block title %} Team Profile {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <!-- <p>Team Profile</p> -->
    <img src="{{ team.avatar.url }}" class="rounded-circle" width=200 height=200 style="padding: 5px"/><br>
    <div style="padding-top: 10px"></div>
    <h3>{{ team }}</h3>
    <h5>{{ team.city }}, {{ team.state }}</h5>

    <div class="container" style="padding: 20px 0px 100px 0px">
        <a href="https://www.facebook.com/IllinoisMenace/" style="text-decoration: none">
            <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x" style="color:#017bff"></i>
                <i class="fa fa-facebook fa-stack-1x" style="color:#ffffff"></i>
            </span>
        </a>
        <a href="https://twitter.com/IllinoisMenaceU" style="text-decoration: none">
            <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x" style="color:#017bff"></i>
                <i class="fa fa-twitter fa-stack-1x" style="color:#ffffff"></i>
            </span>
        </a>
        <a href="https://www.instagram.com/illinoismenace/" style="text-decoration: none">
            <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x" style="color:#017bff"></i>
                <i class="fa fa-instagram fa-stack-1x" style="color:#ffffff"></i>
            </span>
        </a>
        <a href="https://www.snapchat.com/add/illinoismenace" style="text-decoration: none">
            <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x" style="color:#017bff"></i>
                <i class="fa fa-snapchat-ghost fa-stack-1x" style="color:#ffffff"></i>
            </span>
        </a>
    </div>

    <a class="btn btn-primary btn-sm" href="{% url 'website:team-announcement' team.id %}"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Announcements</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:team-roster' team.id %}"><i class="fa fa-users" aria-hidden="true"></i> Roster</a>
    <a class="btn btn-primary btn-sm" href="{% url 'website:team-events' team.id %}"><i class="fa fa-calendar-o" aria-hidden="true"></i> Events</a>
    {% for c in captains %}
        {% if c.user == user %}
            <a class="btn btn-primary btn-sm" href="{% url 'website:upload-team-avatar' team.id %}"><i class="fa fa-upload" aria-hidden="true"></i> Upload Avatar</a>
            <a class="btn btn-primary btn-sm" href="{% url 'website:edit-team' team.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
            <a class="btn btn-primary btn-sm" href="{% url 'website:delete-team' team.id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}