{% extends 'website/header.html' %}

{% block title %} Team Roster {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <h2>Roster</h2>
    <div class="container" style="padding: 10px 0px 0px 0px">
        <div class="row" style="height: 275px; width: 690px; margin-left: auto; margin-right: auto">
            {% load tags %}
            {% for player in roster %}
                <div class="col">
                    <a href="/player/teams/{{ player.team.id }}/roster/{{ player.id }}"><img src="{{ player.avatar.url }}" width=200 height=200 style="padding: 5px" /></a><br>
                    {{ player.first_name }} {{ player.last_name }}<br>
                    {% if player.number %}
                        #{{ player.number }}
                    {% endif %}
                    <div style="padding-top: 5px"></div>
                </div>
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                    </div>
                    <div class="row" style="height: 275px; width: 690px; margin-left: auto; margin-right: auto">
                {% endif %}
                {% if forloop.counter|modulo:3 == 1 and forloop.last %}
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                {% endif %}
                {% if forloop.counter|modulo:3 == 2 and forloop.last %}
                    <div class="col">
                        <img src="/media/white.jpeg" width=200 height=200 style="padding: 5px" /><br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container text-center" style="padding-top: 10px"></div>
    <a class="btn btn-primary btn-sm" href="{% url 'website:create-roster' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Player</a>
</div>
{% endblock %}