{% extends 'website/header.html' %}

{% block title %} Upload Avatar {% endblock %}

{% block body %}
<div class="container text-center" style="padding-top: 20px">
    <p>Upload Avatar</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </form>
</div>
{% endblock %}